.left-container,
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  gap: 16px;
  width: 375px;
}

@media (max-width: 400px) {
  .left-container,
  .right-container {
    width: 325px;
  }
}

@media (max-width: 325px) {
  .left-container,
  .right-container {
    width: 300px;
  }
}
